.row::after{
    content: "";
    display: block;
    clear: both;
}

.content{
    float:left;
    width:66.66%;
    padding: 15px;
}

.sidebar{
    float:left;
    width:33.33%;
    padding: 15px;
}

.abt_img{
    width: 40%;
    float: left;
}

img{
    margin: 10px;
}

@media screen and (max-width: 800px) {
    .content, .sidebar, .abt_img{
        width: 100%;
    }
}

.invalid{
    color: rgb(255, 0, 0);
    font-size: smaller;
}



.invalid-feedback{
	color: #500203;
	}
.valid-feedback{
	color: #223d00;
	}